/* ========================================
 * General
 * ======================================== */
a,
a:hover,
a:focus,
a:visited{
    text-decoration: none;
}



/* ========================================
 * Link & Buttons
 * ======================================== */
span.big-icon{
    font-size: 18pt;
}


/* ========================================
 * Page Preloader
 * ======================================== */

#page-preloader{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    z-index: 9999;
    text-align: center;
}

#page-preloader img{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 196px;
    height: auto;
    margin-top: -48px;
    margin-left: -48px;
}


/* ========================================
 * Pagination
 * ======================================== */
.pagination{

}
.pagination a{

}
.pagination a span{
    font-size: 32pt;
}
.pagination .current_page{
    font-size: 16pt;
}

/* ========================================
 * Multiple Images Upload
 * ======================================== */
#images_preview{
    
}
 #images_preview .preview_image_wrapper img{
    width: auto;
    max-height: 80px;
    box-shadow: 3px 3px 12px #222;
}
#item_images .item_image_wrapper img{
    width: auto;
    max-height: 128px;
    box-shadow: 3px 3px 12px #222;
}




/* =============================================================================
 * Admin Area
 * ============================================================================= */

/* =============================
 *  Edit Item View  
 * =============================*/
.is_main_checkbox{
    width: 20px;
    height: 20px;
}
/* Categpories Selection */
div.shop_categories{
    width: 100%;
    background: #fcfcfc;
    border: 1px solid #cfcfcf;
    max-height: 96px;
    overflow-y: auto;
}
ul.categories{
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.categories li{
    padding:3px;
}
ul.categories.main-level{
    margin-left: 0px;
}
ul.categories.first-level{
    margin-left: 24px;
}
ul.categories.second-level{
    margin-left: 24px;
}


/* =============================
 *  Edit Category View
 * =============================*/
.category_image{
    
}
.category_image .category_image_preview{
    
}
.category_image .category_image_preview img{
    width: 96%;
    margin: 2%;
    box-shadow: 1px 1px 6px #222;
}
.category_data{}