/*==============================================================================*
 * Categories List View (public)
 *==============================================================================*/
.categories{
    
}
.categories .categories_list{
    
}
.categories .category_wrapper{
    
}
.categories .category_wrapper .category_title{
    
}
.categories .category_wrapper .category_image{
    
}
.categories .category_wrapper .category_image img{
    width: 100%;
    text-align: center;
}
.categories .category_wrapper .category_links{
    
}
.categories .category_wrapper .category_links a{
    margin-top: 3px;
    margin-bottom: 3px;
}



/*==============================================================================*
 * Items List View (public)
 *==============================================================================*/
.items{}
.items .items_list{}
.items .current_item_wrapper{}
.items .current_item{
    width: 100%;
    border: 6px solid #fcfcfc;
    box-shadow: 1px 1px 12px #c2c2c2;
}
.items .current_item:hover{
    border: 6px solid #cfcfcf;
}
.items .current_item a{
    text-decoration: none;
    color: #222;
}
.items .current_item a:hover,
.items .current_item a:focus,
.items .current_item a:active{
    text-decoration: none;
    color: #222;
}
.items .current_item_title{
    padding: 6px 3px 6px 3px;
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
}
.items .current_item_image{
    width: 100%;
    text-align: center;
}
.items .current_item_image img{
    width: auto;
    max-height: 256px;
    box-shadow: 0px 0px 2px #ccc;
}
.items .current_item_price{
    padding: 12px 3px 12px 3px;
    text-align: center;
}


/*==============================================================================*
 * Item View (public)
 *==============================================================================*/
.item{
    margin: 12px 6% 12px 6%;
}
.item .item_wrapper{}
.item .item_id{}
.item .item_code{}
.item .category_name{}
.item .item_status{}
.item .item_stock{}
.item .item_price{}
.item .item_title{}
.item .item_weight{}
.item .item_colors{}
.item .item_short_desc{}
.item .item_long_desc{}
.item .item_images{
    width: 100%;
}
/* Main Item Image */
.item .item_main_image{
    width: 90%;
    margin: 5%;
    padding: 5%;
    box-shadow: 0px 0px 12px #222; 
}
.item .item_main_image img{
    width: 100%;
}
/* Item Image */
.item .item_image_wrapper{
    width: 100%;
    margin: 0;
    padding: 0;
}
.item .item_image{
    margin: 6px;
    padding: 6px;
    text-align: center;
}
.item .item_image img{
    width: 100%;
    box-shadow:0px 0px 6px #222;
    cursor: pointer;
}
.item .item_image_title{
    
}



/*==============================================================================*
 * Bootstrap Media Queries
 *==============================================================================*/
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */



/* Small Devices/Extra Small, Tablets, Phones ==================================*/
@media only screen and (min-width: 768px) {

}


/* Medium Devices, Desktops ====================================================*/
@media only screen and (min-width: 992px) {

}


/* Large Devices, Wide Screens =================================================*/
@media only screen and (min-width: 1200px) {

}
