/*==============================================================================*
 * Categories List
 *==============================================================================*/
.categories{
    
}
.categories .categories_list{
    
}
.categories .category_wrapper{
    
}
.categories .category_wrapper .category_title{
    
}
.categories .category_wrapper .category_image{
    
}
.categories .category_wrapper .category_image img{
    width: 100%;
    text-align: center;
}



/*==============================================================================*
 * Items List
 *==============================================================================*/
.items{}
.items_list{}
.items_list{}
.items_list .item_wrapper{}
.items_list .item_wrapper th.item_title{
    text-align: center;
}
.items_list .item_wrapper td.item_image{
    text-align: center;
}
.items_list .item_wrapper td.item_price{
    text-align: center;
}


/*==============================================================================*
 * Bootstrap Media Queries
 *==============================================================================*/
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */



/* Small Devices/Extra Small, Tablets, Phones ==================================*/
@media only screen and (min-width: 768px) {

}


/* Medium Devices, Desktops ====================================================*/
@media only screen and (min-width: 992px) {

}


/* Large Devices, Wide Screens =================================================*/
@media only screen and (min-width: 1200px) {

}
