/*==============================================================================*
 * Categories List
 *==============================================================================*/
.categories{
    
}
.categories .categories_list{
    
}
.categories .category_wrapper{
    
}
.categories .category_wrapper .category_title{
    
}
.categories .category_wrapper .category_image{
    
}
.categories .category_wrapper .category_image img{
    width: 100%;
    text-align: center;
}



/*==============================================================================*
 * Items List
 *==============================================================================*/
.items{}
.items_list{}
.items_list{}
.items_list .item_wrapper{}
.items_list .item_wrapper item{
    margin: 12px;
}
.items_list .item_wrapper .item_title{
    text-align: center;
}
.items_list .item_wrapper .item_image{
    text-align: center;
}
.items_list .item_wrapper .item_image img{
    width: 100%;
}
.items_list .item_wrapper .item_price{
    text-align: center;
}


/*==============================================================================*
 * Items List
 *==============================================================================*/
.item{}
.item_wrapper{}
.item_wrapper .item_id{}
.item_wrapper .item_code{}
.item_wrapper .category_name{}
.item_wrapper .item_status{}
.item_wrapper .item_stock{}
.item_wrapper .item_price{}
.item_wrapper .item_title{}
.item_wrapper .item_weight{}
.item_wrapper .item_colors{}
.item_wrapper .item_short_desc{}
.item_wrapper .item_long_desc{}
.item_wrapper .item_images{
    width: 100%;
}
.item_wrapper .item_image{
    float:left;
}
.item_wrapper .item_image img{
    width: 30%;
}
.item_wrapper .item_image_wrapper{}
.item_wrapper .item_image_name{}



/*==============================================================================*
 * Bootstrap Media Queries
 *==============================================================================*/
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */



/* Small Devices/Extra Small, Tablets, Phones ==================================*/
@media only screen and (min-width: 768px) {

}


/* Medium Devices, Desktops ====================================================*/
@media only screen and (min-width: 992px) {

}


/* Large Devices, Wide Screens =================================================*/
@media only screen and (min-width: 1200px) {

}
