
/*=============================================================================*
 * General Style
 *=============================================================================*/
html, body{
    color: #222;
    /*background: url("../images/bg-pattern.png");*/
}



/*=============================================================================*
 * Page Content 
 *=============================================================================*/

.container-fluid{

}
.main-logo{

}
.page-title{
    
}



/*=============================================================================*
 * Header
 *=============================================================================*/
header{
    margin-top:0;
    margin-bottom: 24px;
    background: #D5DDE5;
}
header .header-content{
    
}



/*=============================================================================*
 * Admin Area
 *=============================================================================*/
.dashboard_view .dashboard_link{
    padding: 0 6px;
}



/*=============================================================================*
 * Forms ELements
 *=============================================================================*/

input[type='radio']{
    width: 20px;
    height: 20px;
}
select, option{
    color: #222;
}



/*=============================================================================*
 * Menus/Navigation
 *=============================================================================*/
div.top-menu{

}
div.top-menu ul{
    list-style: none;
}
div.top-menu ul li{
    float: left;
    margin: 6px 12px;
}
div.top-menu ul li a{

}



/*=============================================================================*
 * Footer
 *=============================================================================*/
footer{
    min-height: 164px;
    margin-top: 24px;
    margin-bottom: 0;
    background: #EBEBEB;
}
footer .footer-content{
    
}



/*=============================================================================*
 * Shop
 *=============================================================================*/



/*=============================================================================*
 * Tables
 *=============================================================================*/
table {
    background: white;
    border-radius:3px;
    border-collapse: collapse;
    margin: auto;
    padding:5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}
table h1,
table h2,
table h3,
table h4,
table h5,
table h6{
    margin: 6px;    
}
th {
    color:#D5DDE5;;
    background:#1b1e24;
    border-right: 1px solid #343a45;
    font-size:16px;
    font-weight: 100;
    padding:6px;
    text-align:left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
}
th:first-child {
    border-top-left-radius:3px;
}
th:last-child {
    border-top-right-radius:3px;
    border-right:none;
}
tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color:#666B85;
    font-size:16px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
tr:hover td {
    background:#4E5066;
    color:#FFFFFF;
    border-top: 1px solid #22262e;
    border-bottom: 1px solid #22262e;
}
tr:first-child {
    border-top:none; 
}
tr:last-child {
    border-bottom:none;
}
tr:nth-child(odd) td {
    background:#EBEBEB;
}
tr:nth-child(odd):hover td {
    background:#4E5066;
}
tr:last-child td:first-child {
    border-bottom-left-radius:3px;
}
tr:last-child td:last-child {
    border-bottom-right-radius:3px;
}
td {
    background:#FFFFFF;
    padding:6px;
    text-align:left;
    vertical-align:middle;
    font-weight:300;
    font-size:14px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
}
td:last-child {
    border-right: 0px;
}
th.text-left {
    text-align: left;
}
th.text-center {
    text-align: center;
}
th.text-right {
    text-align: right;
}
td.text-left {
    text-align: left;
}
td.text-center {
    text-align: center;
}
td.text-right {
    text-align: right;
}





/* ===========================================
 * Bootstrap Media Queries  ==================
 * ======================================== */

/* Small Devices/Extra Small, Tablets, Phones */
@media only screen and (min-width : 768px) {

}



/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}



/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
